<div style="width: 600px;height: 200px background-color beige "></div>
     <div style="background-color: purple; display:flex; flex-direction: column;"></div>
    <div style="background-color: aqua;width: 111px ;height: 700px;;" ></div>